@import "./variables";

// ! MAİN

main {
  height: 72vh;
  background-color: $white-color;
  @extend .flex;
  flex-wrap: wrap;
  .title {
    text-align: center;
    width: 500px;
    h1 {
      color: $main-color;
    }
    p {
      font-size: $text-font-size;
    }
  }

  .main-image {
    border: 2px solid;
    height: 300px;
    img {
      height: 100%;
      width: 100%;
      background-position: top bottom;
      background-size: cover;
    }
  }
}
